.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.level {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.box {
  background-color: #e0e0e0;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #ccc;
  margin: 0 10px;
  width: 200px;
}